<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SSSKeychainDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4864A9EA1CF4512D00426ED9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4864AA031CF4512D00426ED9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4864AA0E1CF4512D00426ED9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
